:root{
    /*Variables colores*/
    --colorprimario: black;
    --colorsecundario: white;
    --light-grey-blue: #b8b8b9;
    --aqua: aqua;
    --blue-green: #099d8d;
    --black-8: #000000;
    --gunmetal: #54585a;
    --cool-grey: #b8b8b9;
    /*Variables espaciado*/
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 12px;
    /*Variables tipo de letra*/    

}
.nombre{
    background-color: blue;
}
.menunav{
    background-color: brown;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.listanav{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 15px;
    justify-content: center;
    text-transform: uppercase ;
}
nav a{
    text-decoration: none;
    color: white;
}
.imagen{
    width: 200px;
}
.equipo{
    background-color: azure;
    height: 200px;
}

<<<<<<< HEAD
.quienessomos{
    background-color: darkgreen;
    height: 200px;
}

.equipo{
    background-color: coral;
    border: solid black;
    height: 30px;
    padding: 10px ;
    width: 230px;
}

.parrafo1 {
    background-color: darkseagreen;
    text-align: center;
}

.box1 {
    display: block;
    background-color:burlywood;
    border: solid black;
    padding: 10px;
}

h3 {
    background-color: beige;
    width: min-content;
    margin: auto;
    color: black;
}


.parrafo2 {
    background-color:burlywood;
    text-align: center;
    align-items: center;
    width: fit-content;
    height: min-content;
    padding: 20px;
    margin: 5px ;
}

=======
>>>>>>> 7ad1ffc7280d1bc2d37efdcd8cca88e2c81f0e5e
.fortydeb{
border: solid black;
display:block;
background-color: blueviolet;

}
.fortalezas{

border: solid black;
width:fit-content;
text-align: center;
padding:20px;
height:min-content;

}
.debilidades{
border: solid black;
text-align: center;
width: fit-content;
padding:20px;
}

.titulof, .titulod {
margin-bottom:10px;
}

<<<<<<< HEAD
@media (min-width:768px) {
    .fortydeb{ 
    display:flex;}
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: coral;
    border: solid 1px gray;
    align-items: center;
    width: 100%;
    height: 160px;
    bottom: 0;
}

.footer1 {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color: gray;
    height: 20px;
    width: 170px;
    margin: 10px auto;
}

.footer2 {
    background-color: burlywood;
    list-style-type: none;
    text-align: center;
    color: gray;
    width: 130px;
    margin: 20px auto;
}

.logo2 {
    background-color: cornflowerblue;
    width: 115px;
    height: 40px;
    margin: 10px auto;
=======
/*SECCIÓN 3: QUIENES SOMOS*/
.quienessomos{
    background-color: var(--colorsecundario);
    padding-top: 30px ;
    padding-bottom: 45px; ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.tituloseccion3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.articulosec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 20px;
}
.datosint, .datosintpares{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.integrante{
    font-weight: bold;

}
.descripcionint{
    display: flex;
    align-items: center;
    width: 90%;
    color: rgb(77, 75, 75);
    text-align: center;
}
.retrato, .retrato1{
    width: 200px;
}
.containerrrss{
    display: flex;
    justify-content: center;

}
.rrss{
    width: 30px;
}
.rrss1{
    width: 15px;
>>>>>>> 7ad1ffc7280d1bc2d37efdcd8cca88e2c81f0e5e
}