<article class="quienessomos__articulosec3">
    <div>
        <img class="quienessomos__articulosec3--retrato" src="@@img" alt=""/>
    </div>
    <section class="datosint">
        <div class="datosint__integrante">
            <p>@@name</p>
        </div>
        <div class="datosint__descripcionint">
            <p>@@description </p>
        </div>
        <div class="datosint__containerrrss">
            <a class="datosint__containerrrss--rrss" href=""><i class="fa-solid fa-envelope" style="color: #099d8d;"></i></a>
            <a class="datosint__containerrrss--rrss" href=""><i class="fa-brands fa-linkedin" style="color: #099d8d;"></i></a>
            <a class="datosint__containerrrss--rrss" href=""><i class="fa-brands fa-instagram" style="color: #099d8d;"></i></a>
            <a class="datosint__containerrrss--rrss" href=""><i class="fa-brands fa-twitter" style="color: #099d8d"></i></a>
        </div>
    </section>
</article>