<article class="quienessomos__articulosec3">
    <div>
        <img class="quienessomos__articulosec3--retrato1" src="@@img" alt=""/>
    </div>
    <section class="datosint">
        <div class="datosint__integrante">
            <p>@@name</p>
        </div>
        <div class="datosint__descripcionint">
            <p>@@description </p>
        </div>
        <div class="datosint__containerrrss">
            <a class="datosint__containerrrss--rrss" href=""><img class="rrss1" src="./img/logo-instagram (1).jpeg" alt=""/></a>
            <a class="datosint__containerrrss--rrss" href=""><img class="rrss2" src="./img/logo-twitter (1).jpeg" alt=""/></a>
            <a class="datosint__containerrrss--rrss" href=""><img class="rrss3" src="./img/linkedln (1).jpeg" alt=""/></a>
            <a class="datosint__containerrrss--rrss" href=""><img class="rrss4" src="./img/logo-email (1).jpeg" alt=""/></a>
        </div>
    </section>
</article>