<article class="articulosec3">
    <div>
        <img class="retrato1" src="@@img" alt=""/>
    </div>
    <section class="datosint">
        <div class="integrante">
            <p>@@name</p>
        </div>
        <div class="descripcionint">
            <p>@@description </p>
        </div>
        <div class="containerrrss">
            <a class="rrss" href=""><img class="rrss1" src="./img/logo-instagram (1).jpeg" alt=""/></a>
            <a class="rrss" href=""><img class="rrss" src="./img/logo-twitter (1).jpeg" alt=""/></a>
            <a class="rrss" href=""><img class="rrss" src="./img/linkedln (1).jpeg" alt=""/></a>
            <a class="rrss" href=""><img class="rrss" src="./img/logo-email (1).jpeg" alt=""/></a>
        </div>
    </section>
</article>