<footer class="footer">
  <section class="footer__copy">
    <p class="footer__grupo">Nombre del grupo © 2018</p>
  </section>
  <section class="footer__section2">
  <nav class="footer__navfooter">
    <ul class="footer__navfooter--list">
      <li><a class="footer__link" href="#equipo">EQUIPO</a></li>
      <li><a class="footer__link" href="#quienessomos">QUIÉNES SOMOS</a></li>
      <li><a class="footer__link" href="./contacts.html">CONTACTO</a></li>
    </ul>
  </nav>
  </section>
  <section class="footer__logo">
    <img class="footer__logo--img" src="./assets/images/logo-adalab.png" alt="Logo Adalab" />
  </section>
</footer>
