<div class="header1">
  <section class="header1__nombre">
    <h2>Nombre del equipo</h2>
  </section>
  <section class="header1__menunav">
    <nav>
      <ul class="header1__menunav--listanav">
        <li><a href="#equipo">Equipo</a></li>
        <li><a href="#quienessomos">Quienes somos</a></li>
        <li><a href="../contacts.html">Contacto</a></li>
      </ul>
    </nav>
  </section>
  <img
    class="header1__imagen"
    src="./assets/images/pexels-andrea-piacquadio-3755755.jpeg"
    alt="chica estresada ordenador"
  />
</div>
