<div class="header2">
  <section class="header2__sec1">
    <h2 class="header2__sec1--nombre">brujas de la programación</h2>
    <nav>
      <ul class="header2__sec1--lista">
        <li><a href="#equipo">Equipo</a></li>
        <li><a href="#quienessomos">Quienes somos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </section>
  <img
    class="header2__imagen"
    src="./assets/images/ordenador2.jpeg"
    alt="portatil"
  />
  <section class="header2__cuadrosuperior">
    <p class="equipo__cuadrosuperior--parrafo1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </section>
</div>
