<div class="header1">
  <section class="header1__nombre">
    <h2>brujas de la programación</h2>
  </section>
  <section class="header1__menunav">
    <nav>
      <ul class="header1__menunav--listanav">
        <li><a href="#equipo">Equipo</a></li>
        <li><a href="#quienessomos">Quienes somos</a></li>
        <li><a href="../contacts.html">Contacto</a></li>
      </ul>
    </nav>
  </section>
  <img
    class="header1__imagen"
    src="./assets/images/ordenador2.jpeg"
    alt="portatil"
  />
  <section class="header1__cuadrosuperior">
    <p class="equipo__cuadrosuperior--parrafo1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>
</div>
