<div class="header1">
    <section class="nombre">
        <h2>Nombre del equipo</h2>
    </section>
    <section class="menunav">
        <nav>
            <ul class="listanav">
                <li><a href="#equipo">Equipo</a></li>
                <li><a href="#quienessomos">Quienes somos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </section>
    <img class="imagen" src="./img/pexels-andrea-piacquadio-3755755.jpeg" alt="chica estresada ordenador">
</div>