<div class="header2">
    <section class="nombre_barranavegacion">
        <h2 class="nombre">Nombre del equipo</h2>
        <nav>
            <ul class="listanav">
                <li><a href="#equipo">Equipo</a></li>
                <li><a href="#quienessomos">Quienes somos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </section>
    <img class="imagen" src="./img/pexels-andrea-piacquadio-3755755.jpeg" alt="chica estresada ordenador">
    
</div>