<section class="quienessomos" id="quienessomos">
    <h3 class="tituloseccion3">Quiénes somos</h3>

    <include src="./articulosec3.html"
    foto="url"
    nombre="Marta"
    description="marta se rie mucho"
    ></include>
    <include src="./articulosec3.html"
    foto="url"
    nombre="Andrea"
    description="marta se rie mucho"
    ></include>
    <include src="./articulosec3.html"
    foto="url"
    nombre="Giselle"
    description="marta se rie mucho"
    ></include>
    <include src="./articulosec3.html"
    foto="url"
    nombre="Marta"
    description="marta se rie mucho"
    ></include>
    <include src="./articulosec3.html"
    foto="url"
    nombre="Marta"
    description="marta se rie mucho"
    ></include>
    <include src="./articulosec3.html"
    foto="url"
    nombre="Marta"
    description="marta se rie mucho"
    ></include>
</section>
