<section class="equipo" id="equipo">
    <section class="equipo__cuadrosuperior">
        <p class="equipo__cuadrosuperior--parrafo1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>
        
    <section class="equipo__box1">
            <h3 class="equipo__box1--tituloseccion1">EQUIPO</h3>
            <p class="equipo__box1--tituparrafo2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus
                eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque
                et aliquam varius.
                Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget justo sodales feugiat. Vestibulum tristique sed
                ante semper elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
    </section>
</section>
