<section class="fortydeb" >
    <section class="fortalezas"><h3 class="titulof">Fortalezas</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend
    in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam
    varius.</p>
    </section>
    <section class="debilidades"><h3 class="titulod">Debilidades</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend
    in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam
    varius.</p>
    </section>
</section>
