<section class="fortydeb" >
    <section class="fortydeb__fortalezas">
        <h3 class="fortydeb__fortalezas--titulof">Fortalezas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend
        in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam
        varius.</p>
    </section>
    <section class="fortydeb__debilidades">
        <h3 class="fortydeb__debilidades--titulod">Debilidades</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend
        in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam
        varius.</p>
    </section>
</section>
