<section class="quienessomos" id="quienessomos">
    <h3 class="quienessomos__tituloseccion3">Quiénes somos</h3>

    <include src="./articulosec3.html"
    img="./assets/images/Andrea.JPG"
    name="Andrea Ferreiro"
    description="descripcion integrante descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante"
    email=""
    linkedin=""
    instagram="https://instagram.com/andreaferreirog?igshid=NTc4MTIwNjQ2YQ=="
    twitter=""
    ></include>
    <include src="./articulosec3.html"
    class="quienessomos__articulosec3--right"
    img="./assets/images/Marta.png"
    name="Marta Belmonte"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    email=""
    linkedin=""
    instagram="https://instagram.com/martabelmonts?igshid=NTc4MTIwNjQ2YQ=="
    twitter=""
    ></include>
    <include src="./articulosec3.html"
    img="./assets/images/jeni2.jpg"
    name="Jenifer Jaldo"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    email=""
    linkedin=""
    instagram=""
    twitter=""
    ></include>
    <include src="./articulosec3.html"
    class="quienessomos__articulosec3--right"
    img="./assets/images/giselle2.jpeg"
    name="Giselle Castro"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    email=""
    linkedin=""
    instagram="https://instagram.com/_giselle97_?igshid=NTc4MTIwNjQ2YQ=="
    twitter=""
    ></include>
    <include src="./articulosec3.html"
    img="./assets/images/cris.jpeg"
    name="Cristina Viñal"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    email=""
    linkedin=""
    instagram="https://instagram.com/_wcris?igshid=NTc4MTIwNjQ2YQ=="
    twitter=""
    ></include>
</section>
