<section class="quienessomos" id="quienessomos">
    <h3 class="tituloseccion3">Quiénes somos</h3>

    <include src="./articulosec3.html"
    img="../images/Andrea.JPG"
    name="Andrea Ferreiro"
    description="descripcion integrante descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante"
    ></include>
    <include src="./articulosec3.html"
    img="../images/Marta.png"
    name="Marta Belmonte"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    ></include>
    <include src="./articulosec3.html"
    img="url"
    name="Jenifer"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    ></include>
    <include src="./articulosec3.html"
    img="url"
    name="Giselle Castro"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    ></include>
    <include src="./articulosec3.html"
    img="url"
    name="Cristina "
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    ></include>
    <include src="./articulosec3.html"
    img="url"
    name="Carolina Franco"
    description=" descripcion integrantedescripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrante descripcion integrantedescripcion integrante"
    ></include>
</section>
