
    /*Variables colores*/
    $colorprimario: black;
    $colorsecundario: white;
    $light-grey-blue: #b8b8b9;
    $aqua: aqua;
    $blue-green: #099d8d;
    $black-8: #000000;
    $gunmetal: #54585a;
    $cool-grey: #b8b8b9;
    /*Variables espaciado*/
    $spacing-xs: 4px;
    $spacing-m: 12px;
    $spacing-s: 8px;
    /*Variables tipo de letra*/
    $titulosecciones: 2rem;
    $textosecciones: 1.5rem;
    $subtitulos: 1.7rem;


    