.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    &__box1 {
        display: block;
        background-color: $colorsecundario;
        padding: 10px;
        
    &--tituloseccion1 {
        width: min-content;
        margin: auto;
        color: $blue-green;
        font-size: 1.5rem;
    }
        
    &--parrafo {
        text-align: center;
        align-items: center;
        width: fit-content;
        height: min-content;
        padding: 20px;
        margin: 5px;
        font-size: 1rem;
    }
    }
}






