.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorsecundario;
  border-top: 0.3px solid $cool-grey;
  align-items: center;
  height: fit-content;
  gap: 30px;
  padding: 50px 0;
  &__copy{
      font-size: 0.8rem;
      color: $cool-grey;
  }
  &__navfooter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: gray;
      font-size: 1rem;
      &--list{ 
          list-style: none;
          text-align: center;
          text-transform: uppercase;
          font-size: 1rem;
          text-decoration: none;
          padding: 0;
      }
  }
  &__link{
    text-decoration: none;
    color: $gunmetal;
  }
  &__logo{
    &--img{
      width: 100px;
    }
  }
}
.footer__logo3 {
  width: 115px;
  height: 40px;
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    padding-bottom: 50px;
    column-gap: 0;
    row-gap: 0;
    &__navfooter{
      grid-row: 1/3;
      gap: 20px;
      &--list{
        font-size: 1rem;
        text-align: end;
      }
    }
  }
}
