.fortydeb {
    position: relative;
    background-color: $cool-grey;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__fortalezas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        height: inherit;
        text-align: center;
        padding: 20px;
        font-size: 1rem;
        &--titulof {
            font-size: $titulosecciones;
            color: $blue-green;
    }
    }
    &__debilidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        width: fit-content;
        padding: 20px;
        font-size: 1rem;
        
        &--titulod {
            margin-bottom: 10px;
            font-size: $titulosecciones;
            color: $blue-green;
        }
    }
}

@media screen and (min-width: 767px){
    .fortydeb {
        background-color: $cool-grey;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        &__fortalezas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            height: inherit;
            text-align: center;
            padding: 20px;
            font-size: 1rem;
            width: 40%;
            &--titulof {
                font-size: $titulosecciones;
                color: $blue-green;
        }
        }
        &__debilidades{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            text-align: center;
            padding: 20px;
            font-size: 1rem;
            width: 40%;
            &--titulod {
                margin-bottom: 10px;
                font-size: $titulosecciones;
                color: $blue-green;
            }
        }
    }
}




