.quienessomos {
    background-color: $colorsecundario;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    &__tituloseccion3{
            text-transform: uppercase;
            font-weight: bold;
            font-size: $titulosecciones;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue-green;
        }

    &__articulosec3{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            gap: 20px;
        }
}


.datosint{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__integrante{

            line-height: 2.813rem;
            color: $colorprimario:
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: $subtitulos
        
        }

        &__descripcionint{

           display: flex;
           align-items: center;
           width: 90%;
            color: rgb(77, 75, 75);
            text-align: center;
            color: $gunmetal
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: $textosecciones
        }
    
 
         &__containerrrss { 
            display: flex;
            justify-content: center;
         }

        
        } 

















.datosintpares {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.retrato,
.retrato1 {
    width: 200px;
}
.rrss {
    width: 30px;
    color: var(--blue-green);
}

.rrss1 {
    width: 15px;
    color: var(--blue-green);
}